<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="standardOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <target>System.err</target>
    </appender>
    <include file="conf/logback-common.xml"/>
</configuration>
