<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="standardOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <target>System.err</target>
    </appender>
    <include file="conf/logback-common.xml"/>
</configuration>
